In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
agri1 = pd.read_csv('Dataset/fao_data_crops_data.csv')

In [23]:
agri1.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Americas +,31,Area Harvested,2007.0,Ha,49404.0,A,agave_fibres_nes
1,Americas +,31,Area Harvested,2006.0,Ha,49404.0,A,agave_fibres_nes
2,Americas +,31,Area Harvested,2005.0,Ha,49404.0,A,agave_fibres_nes
3,Americas +,31,Area Harvested,2004.0,Ha,49113.0,A,agave_fibres_nes
4,Americas +,31,Area Harvested,2003.0,Ha,48559.0,A,agave_fibres_nes

In [30]:
print(agri1.columns)

Index(['country_or_area', 'element_code', 'element', 'year', 'unit', 'value',
       'value_footnotes', 'category'],
      dtype='object')

In [24]:
print("-----------------------------Analysis Of 1st Dataset Over--------------------------------")

-----------------------------Analysis Of 1st Dataset Over--------------------------------

In [8]:
agri2 = pd.read_csv('Dataset/fao_data_fertilizers_data.csv')

In [10]:
agri2.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Americas +,11,Stocks,2007.0,Head,3100.0,A,animals_live_nes
1,Americas +,11,Stocks,2006.0,Head,3100.0,A,animals_live_nes
2,Americas +,11,Stocks,2005.0,Head,3100.0,A,animals_live_nes
3,Americas +,11,Stocks,2004.0,Head,3100.0,A,animals_live_nes
4,Americas +,11,Stocks,2003.0,Head,3100.0,A,animals_live_nes

In [31]:
print(agri2.columns)

Index(['country_or_area', 'element_code', 'element', 'year', 'unit', 'value',
       'value_footnotes', 'category'],
      dtype='object')

In [25]:
print("-----------------------------Analysis Of 2nd Dataset Over--------------------------------")

-----------------------------Analysis Of 2nd Dataset Over--------------------------------

In [11]:
agri3 = pd.read_csv('Dataset/fao_data_forest_data.csv')

In [12]:
agri3.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Albania,150,Non-fertilizer use,2007.0,tonnes,0.0,NR,ammonia_anhydrous
1,Albania,150,Non-fertilizer use,2006.0,tonnes,0.0,NR,ammonia_anhydrous
2,Albania,150,Non-fertilizer use,2005.0,tonnes,0.0,NR,ammonia_anhydrous
3,Albania,150,Non-fertilizer use,2004.0,tonnes,0.0,NR,ammonia_anhydrous
4,Albania,150,Non-fertilizer use,2003.0,tonnes,0.0,NR,ammonia_anhydrous

In [32]:
print(agri3.columns)

Index(['country_or_area', 'element_code', 'element', 'year', 'unit', 'value',
       'value_footnotes', 'category'],
      dtype='object')

In [26]:
print("-----------------------------Analysis Of 3rd Dataset Over--------------------------------")

-----------------------------Analysis Of 3rd Dataset Over--------------------------------

In [15]:
agri4 = pd.read_csv('Dataset/fao_data_land_data.csv')

In [16]:
agri4.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Afghanistan,11,Area,2007.0,1000 Ha,38661.0,Q,agricultural_area
1,Afghanistan,11,Area,2006.0,1000 Ha,38659.0,Fm,agricultural_area
2,Afghanistan,11,Area,2005.0,1000 Ha,38515.0,Fm,agricultural_area
3,Afghanistan,11,Area,2004.0,1000 Ha,38064.0,Fm,agricultural_area
4,Afghanistan,11,Area,2003.0,1000 Ha,38899.0,Fm,agricultural_area

In [33]:
print(agri4.columns)

Index(['country_or_area', 'element_code', 'element', 'year', 'unit', 'value',
       'value_footnotes', 'category'],
      dtype='object')

In [27]:
print("-----------------------------Analysis Of 4th Dataset Over--------------------------------")

-----------------------------Analysis Of 4th Dataset Over--------------------------------

In [19]:
agri5 = pd.read_csv('Dataset/fao_data_production_indices_data.csv')

In [20]:
agri5.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2007.0,1000 Int. $,2486910.0,A,agriculture_pin
1,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2006.0,1000 Int. $,2278516.0,A,agriculture_pin
2,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2005.0,1000 Int. $,2524097.0,A,agriculture_pin
3,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2004.0,1000 Int. $,2226346.0,A,agriculture_pin
4,Afghanistan,152,Gross Production 1999-2001 (1000 I$),2003.0,1000 Int. $,2289434.0,A,agriculture_pin

In [34]:
print(agri5.columns)

Index(['country_or_area', 'element_code', 'element', 'year', 'unit', 'value',
       'value_footnotes', 'category'],
      dtype='object')

In [29]:
print("-----------------------------Analysis Of 5th Dataset Over--------------------------------")

-----------------------------Analysis Of 5th Dataset Over--------------------------------

In [37]:
print("CONCLUSION\nAccording to the ")

CONCLUSION
According to the